ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border: 20px dotted green;
    margin: auto;
    padding-left: 550px;
}

li {
    background-color: lightseagreen;
    height: 1cm;
    padding: 3mm;
    list-style: none;
    float: left;
    margin-right: 10px;
}